{
  "openapi": "3.1.0",
  "info": {
    "title": "JW Player Media API",
    "version": "v2"
  },
  "servers": [
    {
      "url": "https://api.jwplayer.com/v2",
      "description": "Management API"
    }
  ],
  "paths": {
    "/sites/{site_id}/media": {
      "get": {
        "summary": "List media",
        "parameters": [
          {
            "name": "site_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "q",
            "in": "query",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Media list",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/MediaList" } } }
          }
        }
      },
      "post": {
        "summary": "Create media",
        "parameters": [
          { "name": "site_id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateMediaRequest" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Media created",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Media" } } }
          }
        }
      }
    },
    "/sites/{site_id}/media/{media_id}": {
      "get": {
        "summary": "Get media",
        "parameters": [
          { "name": "site_id", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "media_id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "Single media",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Media" } } }
          }
        }
      },
      "patch": {
        "summary": "Update media",
        "parameters": [
          { "name": "site_id", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "media_id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/UpdateMediaRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Media updated",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Media" } } }
          }
        }
      },
      "delete": {
        "summary": "Delete media",
        "parameters": [
          { "name": "site_id", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "media_id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "204": { "description": "Media deleted" }
        }
      },
      "put": {
        "summary": "Reupload media",
        "description": "Replace file for existing media",
        "parameters": [
          { "name": "site_id", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "media_id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ReuploadMediaRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Reupload initiated",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Media" } } }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Media": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "title": { "type": "string" },
          "description": { "type": "string" },
          "status": { "type": "string" },
          "creation_date": { "type": "string", "format": "date-time" }
        },
        "required": ["id", "title", "status"]
      },
      "MediaList": {
        "type": "object",
        "properties": {
          "media": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Media" }
          }
        }
      },
      "CreateMediaRequest": {
        "type": "object",
        "properties": {
          "upload": {
            "type": "object",
            "properties": {
              "method": { "type": "string" },
              "file": { "type": "string", "format": "uri" }
            },
            "required": ["method"]
          },
          "metadata": {
            "type": "object",
            "properties": {
              "title": { "type": "string" },
              "description": { "type": "string" }
            }
          }
        },
        "required": ["upload"]
      },
      "UpdateMediaRequest": {
        "type": "object",
        "properties": {
          "title": { "type": "string" },
          "description": { "type": "string" }
        }
      },
      "ReuploadMediaRequest": {
        "type": "object",
        "properties": {
          "upload": {
            "type": "object",
            "properties": {
              "method": { "type": "string" },
              "file": { "type": "string", "format": "uri" }
            },
            "required": ["method", "file"]
          }
        },
        "required": ["upload"]
      }
    }
  }
}
